$widthLarge: 70%;
$widthSmall: 50%;
$widthXSmall: 15%;
$backgroundColorWhite: #ffffff;
$backgroundColorBrown: #ffe7d2;
$colorText: #58402c;
$colorButton: #2c4792;
$fontSizeButton: 16px;
$fontWeightButton: 500;
$fontSizeTitleText: 35px;
$fontSizeStandard: 25px;
$fontSizeSubTitleText: 15px;